/* 
* Variables
*/

// Color scheme
$blue1: #55dde0;
$blue2: #33658a;
$blue3: #2f4858;
$accent1: #f6ae2d;
$accent2: #f26419;

// Sizes
$menuHeight: 50px;

// Fonts
$headingFont: "Oswald", Impact, "Franklin Gothic Bold", sans-serif;
$bodyFont: "Roboto", sans-serif;

/* 
* Typography
*/
h1, h2, a {
  font-family: $headingFont;
}

p, span {
  font-family: $bodyFont;
}

/* 
* Layout
*/
.wrapper {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
}

.img__logo {
  width: 200px;
}

.mainNav {
  width: 100%;
  position: absolute;
  top:0;
  left:0;
  background: $blue3;
  height: $menuHeight;
}

.mainSection {
  margin-top: $menuHeight;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: calc(100% - ( #{$menuHeight} * 2 ));
}

footer {
  background: orange;
  width: 100%;
}

/* 
* Buttons/links
*/
.ctaBtn {
  display: block;
  padding: 10px 15px;
  border:1px solid $accent2;
  min-width: 140px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  text-decoration: none;
}